<mat-accordion>
  <h2>Bus stops within 1.2 km</h2>
  <mat-expansion-panel
    *ngFor="let busStop of busStops"
    (click)="onClick(busStop.BusStopCode)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title
        >{{ busStop.Description }}
        <span>{{ busStop.BusStopCode }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-buses
      [parentCode]="busStopCode"
      [busStopCode]="busStop.BusStopCode"
    ></app-buses>
  </mat-expansion-panel>
</mat-accordion>
