<mat-accordion>
  <div class="header">
    <h2 *ngIf="!error">Bus Stops Near You</h2>
    <div (click)="onRefreshClick()">
      <mat-icon>refresh</mat-icon>
    </div>
  </div>
  <h2 *ngIf="error">{{ error }}</h2>
  <h2 *ngIf="!error && !busStops.length">Loading...</h2>
  <mat-expansion-panel
    *ngFor="let busStop of busStops"
    (click)="onClick(busStop.BusStopCode)"
    [expanded]="shouldStayOpen(busStop.BusStopCode)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title
        >{{ busStop.Description }}
        <span>{{ busStop.BusStopCode }}</span>
        <span class="distance"
          >{{ busStop.Distance | number: "1.2" }}km away</span
        >
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-buses
      [parentCode]="busStopCode"
      [busStopCode]="busStop.BusStopCode"
    ></app-buses>
  </mat-expansion-panel>
</mat-accordion>
