h2,
mat-accordion,
mat-expansion-panel,
mat-icon {
  margin: 1.5rem;
}

h2 {
  font-weight: 500;
}

mat-icon {
  cursor: pointer;
}

mat-expansion-panel {
  padding: 1.5rem;
}

mat-panel-title {
  display: flex;
  align-items: center;
  font-weight: bold;
}

mat-panel-title span {
  font-weight: normal;
  margin-left: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.distance {
  font-size: small;
}
